<div class="go-menu-cpt"  [appScaleBox]="title">
  <div class="menu ">
        <span class="mb1" (click)="goPag('machineRoom')">
          <i class="icon iconfont icon-donglilianlu"></i>
        </span>
    <span class="mb2">
          <i class="icon iconfont icon-zhiliudianyuanlianlu"></i>
        </span>
    <span class="mb3">
          <i class="icon iconfont icon-lishishijian"></i>
        </span>
    <span class="mb4">
          <i class="icon iconfont icon-caozuoriji"></i>
        </span>
    <span class="mb5">
          <i class="icon iconfont icon-baojingshezhi"></i>
        </span>
    <span class="mb6">
          <i class="icon iconfont icon-yunweizhishiku"></i>
        </span>
    <span class="mb7">
          <i class="icon iconfont icon-zichanxinxiguanli"></i>
        </span>
    <span class="mb8">
          <i class="icon iconfont icon-baobiaoguanli"></i>
        </span>
    <span class="mb9">
          <i class="icon iconfont icon-jienengguanli"></i>
        </span>
    <span class="mb10">
          <i class="icon iconfont icon-shijianlan"></i>
        </span>
  </div>
</div>
