<div class="index_cpt clear">
  <div class="index-box">
    <div class="logo"  [appScaleBox]="logo"></div>
    <div class="titleLeft"  [appScaleBox]="titleLeft"></div>
    <div class="titleRight"  [appScaleBox]="titleRight">
      <div class="text">
        <i class="anticon anticon-clock-circle-o"></i>
        <span>13:50:22</span>
        <span>2018年04月13日&nbsp;星期五</span>
      </div>
    </div>
    <div class="title"  [appScaleBox]="title">
      <div class="menu">
        <span class="mb1">
          <i class="icon iconfont icon-donglilianlu"></i>
        </span>
        <span class="mb2">
          <i class="icon iconfont icon-zhiliudianyuanlianlu"></i>
        </span>
        <span class="mb3">
          <i class="icon iconfont icon-lishishijian"></i>
        </span>
        <span class="mb4">
          <i class="icon iconfont icon-caozuoriji"></i>
        </span>
        <span class="mb5">
          <i class="icon iconfont icon-baojingshezhi"></i>
        </span>
        <span class="mb6">
          <i class="icon iconfont icon-yunweizhishiku"></i>
        </span>
        <span class="mb7">
          <i class="icon iconfont icon-zichanxinxiguanli"></i>
        </span>
        <span class="mb8">
          <i class="icon iconfont icon-baobiaoguanli"></i>
        </span>
        <span class="mb9">
          <i class="icon iconfont icon-jienengguanli"></i>
        </span>
        <span class="mb10">
          <i class="icon iconfont icon-shijianlan"></i>
        </span>
      </div>
    </div>
    <div class="box1 box" [appScaleBox]="box1">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <ul class="clear">
          <li>
            <div class="crlb">
              <span>12</span>
            </div>
            <p>机房总数</p>
          </li>
          <li>
            <div class="crlb">
              <span>343</span>
            </div>
            <p>设备总数</p>
          </li>
          <li>
            <div class="crlb">
              <span>12<sup>°</sup></span>
            </div>
            <p>机房平均温度</p>
          </li>
        </ul>

      </div>
    </div>
    <div class="box2 box" [appScaleBox]="box2">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">

      </div>
    </div>
    <div class="box2Bar" [appScaleBox]="box2Bar">
      <div class="barBox clear">
        <span>报警总数</span>
        <div>
          <div class="bar1">
            <b>7</b>
          </div>
        </div>
      </div>
      <div class="barBox clear">
        <span>已处理报警数量</span>
        <div>
          <div class="bar2">
            <b>3</b>
          </div>
        </div>
      </div>
      <div class="barBox clear">
        <span>未处理警报数</span>
        <div>
          <div class="bar3">
            <b>4</b>
          </div>
        </div>
      </div>
    </div>
    <div class="minTitle2" [appScaleBox]="minTitle2"></div>
    <div class="box3 box" [appScaleBox]="box3">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <div echarts [options]="chartOption" class="demo-chart"
             style="height: 100%; width: 100%;"
        ></div>
      </div>
    </div>
    <div class="minTitle3" [appScaleBox]="minTitle3"></div>
    <div class="box4 box" [appScaleBox]="box4">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <div echarts [options]="chartOption2" class="demo-chart"
             style="height: 100%; width: 100%;"
        ></div>
      </div>
    </div>
    <div class="minTitle4" [appScaleBox]="minTitle4"></div>
    <div class="box5 box" [appScaleBox]="box5">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <!--<div echarts [options]="chartOption6" class="demo-chart"
             style="height: 100%; width: 100%;"
        ></div>-->
      </div>
    </div>
    <div class="minTitle9" [appScaleBox]="minTitle9"></div>
    <div class="box55" [appScaleBox]="box55">
      <div class="barBox clear">
        <span>云浮市</span>
        <div>
          <div class="bar1">
            <b>7</b>
          </div>
        </div>
      </div>
      <div class="barBox clear">
        <span>云浮市</span>
        <div>
          <div class="bar1">
            <b>7</b>
          </div>
        </div>
      </div>
      <div class="barBox clear">
        <span>云浮市</span>
        <div>
          <div class="bar1">
            <b>7</b>
          </div>
        </div>
      </div>
      <div class="barBox clear">
        <span>云浮市</span>
        <div>
          <div class="bar1">
            <b>7</b>
          </div>
        </div>
      </div>
      <div class="barBox clear">
        <span>云浮市</span>
        <div>
          <div class="bar1">
            <b>7</b>
          </div>
        </div>
      </div>
    </div>
    <div class="box6 box" [appScaleBox]="box6">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <div echarts [options]="chartOption3" class="demo-chart"
             style="height: 100%; width: 100%;"
        ></div>
      </div>
    </div>
    <div class="minTitle6" [appScaleBox]="minTitle6"></div>
    <div class="box7 box" [appScaleBox]="box7">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <div class="cBo">
          <div echarts [options]="chartOption4" class="demo-chart"
               style="height: 100%; width: 100%;"
          ></div>
        </div>
        <div class="cBo cBo1">
          <div echarts [options]="chartOption5" class="demo-chart"
               style="height: 100%; width: 100%;"
          ></div>
        </div>
      </div>
    </div>
    <div class="minTitle7" [appScaleBox]="minTitle7"></div>
    <div class="box7Text1" [appScaleBox]="box7Text1">
      <div class="icm">
        <i></i>
        <span>IT功率&nbsp;&nbsp;3%</span>
      </div>
      <div class="icm">
        <i></i>
        <span>空调功率&nbsp;&nbsp;3%</span>
      </div>
      <div class="icm">
        <i></i>
        <span>配电功率&nbsp;&nbsp;3%</span>
      </div>

    </div>
    <div class="box7Text2 clear" [appScaleBox]="box7Text2">
      <div class="icm">
        <i></i>
        <span>UPS总数&nbsp;&nbsp;3</span>
      </div>
      <div class="icm">
        <i></i>
        <span>市电总数&nbsp;&nbsp;30</span>
      </div>
      <div class="icm">
        <i></i>
        <span>空调总数&nbsp;&nbsp;300</span>
      </div>
      <div class="icm">
        <i></i>
        <span>机柜总数&nbsp;&nbsp;3</span>
      </div>
    </div>
    <div class="box8 box" [appScaleBox]="box8">
      <span class="b1"></span>
      <span class="b2"></span>
      <span class="b3"></span>
      <span class="b4"></span>
      <div class="content">
        <ul>
          <li class="top">
            <span class="l1">
              <i>NO.</i>
            </span>
            <span class="l2">
              <i>来源</i>
            </span>
            <span class="l3">
              <i>描述</i>
            </span>
            <span class="l4">
              <i>级别</i>
            </span>
            <span class="l5">
              <i>时间</i>
            </span>
            <span class="l6">
              <i>提示内容</i>
            </span>
            <span class="l7">
              <i>confirm</i>
            </span>
          </li>
          <li>
            <span class="l1">
              <i>NO.</i>
            </span>
            <span class="l2">
              <i>来源</i>
            </span>
            <span class="l3">
              <i>描述</i>
            </span>
            <span class="l4">
              <i>级别</i>
            </span>
            <span class="l5">
              <i>时间</i>
            </span>
            <span class="l6">
              <i>提示内容</i>
            </span>
            <span class="l7">
              <i>confirm</i>
            </span>
          </li>
          <li>
            <span class="l1">
              <i>NO.</i>
            </span>
            <span class="l2">
              <i>来源</i>
            </span>
            <span class="l3">
              <i>描述</i>
            </span>
            <span class="l4">
              <i>级别</i>
            </span>
            <span class="l5">
              <i>时间</i>
            </span>
            <span class="l6">
              <i>提示内容</i>
            </span>
            <span class="l7">
              <i>confirm</i>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="minTitle8" [appScaleBox]="minTitle8"></div>
  </div>
</div>