
<div class="box5 bigScreenBox" [appScaleBox]="box5">
  <span class="b1"></span>
  <span class="b2"></span>
  <span class="b3"></span>
  <span class="b4"></span>
  <div class="content" [ngStyle]="{'padding-top':scale.widthScale*100+'px',
      'padding-bottom':scale.widthScale*30+'px'}"></div>
</div>

<div class="room-fan-cpt">
  <div class="cpTitle" [appScaleBox]="cpTitle">
      <span class="til">
        <i class="icon iconfont icon-jixieshebei"></i>
        {{activeItem.name}}
      </span>
    <span class="tba" [class.active]="active" (click)="showTable(true)">参数展示</span>
    <span class="tba" [class.active]="!active" (click)="showTable(false)">参数列表</span>
  </div>
  <div *ngIf="active" class="imbox"
       [appScaleBox]='cpMain'>
    <div class="item item1" [appScaleBox]="item1"
         [scaleDiv]="'true'">
      <b></b>
      <img src="./assets/images/index/conditioner_03.png" alt="">
      <p>风机运行状态</p>
    </div>
    <div class="item item2" [appScaleBox]="item2"
         [scaleDiv]="'true'">
      <b>20.3</b>
      <img src="./assets/images/index/conditioner_06.png" alt="">
      <p>回风温度1（℃）</p>
    </div>
    <div class="item item3" [appScaleBox]="item3"
         [scaleDiv]="'true'">
      <b>77</b>
      <img src="./assets/images/index/conditioner_13.png" alt="">
      <p>回风湿度1（%RH）</p>
    </div>
    <div class="item item4" [appScaleBox]="item4"
         [scaleDiv]="'true'">
      <b>20.3</b>
      <img src="./assets/images/index/conditioner_06.png" alt="">
      <p>回风温度2（℃）</p>
    </div>
    <div class="item item5" [appScaleBox]="item5"
         [scaleDiv]="'true'">
      <b>77</b>
      <img src="./assets/images/index/conditioner_13.png" alt="">
      <p>回风湿度2（%RH）</p>
    </div>
  </div>
  <div *ngIf="!active">
    <div class="boxu2" [appScaleBox]='cpMain'>
      <div class="search">
        <input type="text" placeholder="请输入关键字进行查询">
        <a class="head-btn">确认查询</a>
        <span style="float: right">共4页62条符合条件的信息</span>
      </div>
      <div class="tableBo">
        <ul class="headTb">
          <li class="l1 clear">
            <span class="ta1"><i>编号</i></span>
            <span class="ta2"><i>数据项</i></span>
            <span class="ta3"><i>数据项</i></span>
            <span class="ta4"><i>单位</i></span>
          </li>
        </ul>
        <div class="boxyTb" id="tableIscroll">
          <ul>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li><li class="clear">
            <span class="ta1"><i>编号</i></span>
            <span class="ta2"><i>数据项</i></span>
            <span class="ta3"><i>数据项</i></span>
            <span class="ta4"><i>单位</i></span>
          </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li><li class="clear">
            <span class="ta1"><i>编号</i></span>
            <span class="ta2"><i>数据项</i></span>
            <span class="ta3"><i>数据项</i></span>
            <span class="ta4"><i>单位</i></span>
          </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li><li class="clear">
            <span class="ta1"><i>编号</i></span>
            <span class="ta2"><i>数据项</i></span>
            <span class="ta3"><i>数据项</i></span>
            <span class="ta4"><i>单位</i></span>
          </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li><li class="clear">
            <span class="ta1"><i>编号</i></span>
            <span class="ta2"><i>数据项</i></span>
            <span class="ta3"><i>数据项</i></span>
            <span class="ta4"><i>单位</i></span>
          </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li><li class="clear">
            <span class="ta1"><i>编号</i></span>
            <span class="ta2"><i>数据项</i></span>
            <span class="ta3"><i>数据项</i></span>
            <span class="ta4"><i>单位</i></span>
          </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
            <li class="clear">
              <span class="ta1"><i>编号</i></span>
              <span class="ta2"><i>数据项</i></span>
              <span class="ta3"><i>数据项</i></span>
              <span class="ta4"><i>单位</i></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="css-page">
        <nz-pagination (nzPageIndexChange)="pageChange($event)" [(nzPageIndex)]="_currentPage" [nzPageSize]="10" [nzTotal]="totalcount" [nzSize]="'small'" nzShowQuickJumper></nz-pagination>
      </div>

    </div>
  </div>
  <div class="roomBack" [appScaleBox]="back" (click)="backClick()"></div>
</div>