<div class="box5 bigScreenBox" [appScaleBox]="box5">
  <span class="b1"></span>
  <span class="b2"></span>
  <span class="b3"></span>
  <span class="b4"></span>
  <div class="content" [ngStyle]="{'padding-top':scale.widthScale*100+'px',
      'padding-bottom':scale.widthScale*30+'px'}"></div>
</div>

<div class="room-cell2-cpt">
  <div class="cpTitle" [appScaleBox]="cpTitle">
    <span class="til">
      <i class="icon iconfont icon-jixieshebei"></i>
      {{activeItem.name}}
    </span>
    <span class="tba" [class.active]="active" (click)="showTable(true)">参数展示</span>
    <span class="tba" [class.active]="!active" (click)="showTable(false)">参数列表</span>
  </div>
  <div *ngIf="active" class="imbox" [appScaleBox]='cpMain'>
    <div class="titleBox" [appScaleBox]="titleBox" [scaleDiv]="'true'"></div>
    <div class="mBox clear" [appScaleBox]="mBox" [scaleDiv]="'true'">
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item red">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
      <div class="item">
        <img src="./assets/images/index/cell2_07.png" alt="">
        <span>25V</span>
        <p>电池一</p>
      </div>
    </div>
    <div class="mBox1" [appScaleBox]="mBox1" [scaleDiv]="'true'">
      <div class="item2 clear">
        <span>设备复位</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>内阻测试</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>模块地址</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>内阻修正系数</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>内阻测试模式</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>内阻测试间隔</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>是否带温度传感器</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>电压系数</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>电流系数</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>COM1波特率</span>
        <b>20</b>
      </div>
      <div class="item2 clear">
        <span>电压采集间隔时间</span>
        <b>20</b>
      </div>
    </div>
    <div class="mBox2 clear" [appScaleBox]="mBox2" [scaleDiv]="'true'">
      <div class="item2">
        <div>
          <b></b>
          <span>500</span>
        </div>
        <p>电池类型</p>
      </div>
      <div class="item2">
        <div>
          <b></b>
          <span>5</span>
        </div>
        <p>实际电压（V）</p>
      </div>
    </div>
  </div>
  <div *ngIf="!active">
    <div class="boxu2" [appScaleBox]='cpMain'>
      <div class="search">
        <input type="text" placeholder="请输入关键字进行查询">
        <a class="head-btn">确认查询</a>
        <span style="float: right">共4页62条符合条件的信息</span>
      </div>
      <div class="tableBo">
        <ul class="headTb">
          <li class="l1 clear">
            <span class="ta1">
              <i>编号</i>
            </span>
            <span class="ta2">
              <i>数据项</i>
            </span>
            <span class="ta3">
              <i>数据项</i>
            </span>
            <span class="ta4">
              <i>单位</i>
            </span>
          </li>
        </ul>
        <div class="boxyTb" id="tableIscroll">
          <ul>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
            <li class="clear">
              <span class="ta1">
                <i>编号</i>
              </span>
              <span class="ta2">
                <i>数据项</i>
              </span>
              <span class="ta3">
                <i>数据项</i>
              </span>
              <span class="ta4">
                <i>单位</i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="css-page">
        <nz-pagination (nzPageIndexChange)="pageChange($event)" [(nzPageIndex)]="_currentPage" [nzPageSize]="10" [nzTotal]="totalcount"
          [nzSize]="'small'" nzShowQuickJumper></nz-pagination>
      </div>

    </div>
  </div>
  <div class="roomBack" [appScaleBox]="back" (click)="backClick()"></div>
</div>